<ion-header>
  <ion-toolbar>
    <ion-title>post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-button expand="block" routerLink="/feed" routerDirection="root">>Feed </ion-button>
  <ion-button expand="block" routerLink="/login" routerDirection="root">>Log out </ion-button>


<p>Sending a POST request example.</p>

<h3>Create Club</h3>
<button ion-button (click)="sendPostRequest()">Post Data</button>

<form padding-right>
  
  <ion-item>
    <ion-label position="floating">Mobile No. </ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>

  <ion-button 
    color="primary" 
    expand="block" 
    [disabled]="!Form.valid" 
    (click)="postClub()">Create User
  </ion-button>
</form>

</ion-content>
