<ion-header>
  <ion-toolbar>
    <ion-title>post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-button expand="block" routerLink="/feed" routerDirection="root">>Feed </ion-button>
  <ion-button expand="block" routerLink="/login" routerDirection="root">>Log out </ion-button>


<p>Sending a POST request example.</p>
<!--
<h3>Create Club</h3>
<button ion-button (click)="sendPostRequest()">Post Data</button>

  <h3>Create Club</h3>
  <form [formGroup]="clubForm" padding-right>
    <ion-item>
      <ion-label position="floating">Club ID </ion-label>
      <ion-input type="number" formControlName="cID" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Club Name </ion-label>
      <ion-input type="text" formControlName="cName" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Address</ion-label>
      <ion-input type="password" formControlName="cAddress" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email </ion-label>
      <ion-input type="text" formControlName="cEmail" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Mobile No. </ion-label>
      <ion-input type="number" formControlName="cMobile" required></ion-input>
    </ion-item>

    <ion-button 
      color="primary" 
      expand="block" 
      [disabled]="!Form.valid" 
      (click)="postClub()">Create Club</ion-button>
</form>-->

</ion-content>
