<ion-header>
  <ion-toolbar>
    <ion-title>feed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-button expand="block" routerLink="/post" routerDirection="root">>Post something! </ion-button>
  <ion-button expand="block" routerLink="/login" routerDirection="root">>Log out </ion-button>

  <h2>Clubs</h2>
  <div *ngFor="let name of names">
    <h2>waka waka {{name}}</h2>
  </div> 

  
  <h2>Users</h2>
  <ion-list>  
    <ion-item *ngFor="let user of users">
      <h2>User ID: {{user.userId}}</h2>
      <h2>User name: {{user.userName}}</h2>
    </ion-item>
  </ion-list>

</ion-content>
